Babel==2.3.4
debtcollector==1.9.0
eventlet==0.19.0
greenlet==0.4.10
msgpack-python==0.4.8
netaddr==0.7.18
numpy==1.11.2
oslo.config==3.19.0
oslo.i18n==3.10.0
ovs==2.6.1
pbr==1.10.0
pytz==2016.7
repoze.lru==0.6
rfc3986==0.4.1
Routes==2.3.1
ryu==4.8.1
scikit-learn==0.18.1
six==1.10.0
stevedore==1.18.0
tinyrpc==0.5
WebOb==1.6.3
wrapt==1.10.8
